body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card:hover {
  position: relative; 
 top: -10px;
 transition: 1s;
}
#clickable:active {
  background-color: whitesmoke;
}

/* .card-view:hover {
  box-shadow: 2px 2px 2px grey;
} */

div{
  font-family: "auto"!important;
}

button{
  font-family: "auto"!important;
}

input{
  font-family: "auto"!important;
}
label{
  font-family: "auto"!important;
}

span{
  font-family: "auto"!important;
}
